<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div>
        <ul class="navbar">
            <li><a href="./index">Home</a></li>
            <li><a href="./aboutMe">About Me</a></li>
            <li><a href="./pricing">Pricing</a></li>
            <li><a href="./myWork">My Work</a></li>
        </ul>
    </div>
    <div class="header"></div>
    <div class="heading">
        <!-- <div class="spinner"></div> <h1>Hello World! Website is working</h1><div class="spinner"></div> -->
        <h1>Wanna see what I can do?</h1>
    </div>
    <hr>
    <div>
        <h2 class="section-title">Mixing Design and Tech Knowledge</h2>
        <p>
            &emsp; What I have noticed from a lot of my peers is that many people who are smart enough
            to code typically do not have the eye for what looks good. This means that they need detailed
            design descriptions in order to achieve your vision. That typically isn't a huge issue, but when
            you don't quite know what you want, that's where I come in! I can give examples of what similar
            websites look like and work with you to craft your vision. This doesn't mean that I won't also
            create the website of your dreams if you already have your vision laid out!

        </p>
        <hr>
        <div class="parallax" style="background-image: url(parallax.jpeg)"></div>
        <hr>
        <h2 class="section-title">Eye Candy</h2>
        <p>
            &emsp;It can be pretty easy to turn a website from bland to beautiful, especially when you
            have a few tricks up your sleeve! The cool image effect that is going on is called a "Parallax"
            effect. It's also relatively simply to do, but many don't even think that this is an option when
            designing a website.
        </p>
        <hr>
        <div class="parallax" style="background-image: url(flowers.jpg)"></div>
        <hr>
        <h2 class="section-title">What I need</h2>
        <p>
            &emsp;Once you are sure you wish for me to create your website, you will need to send
            me a sketch or a in depth description of what you wish me to do. If you do not know
            what you want you can tell me the purpose or business that I am making the website
            for and I can draft a few very primitive ideas for you to check out.
        </p>
        <br><br><br><br><br><br>
        <p>Scroll Up and Down this page to see the parallax scrolling effect.</p>

        <div class="parallax" style="background-image: url(parallax.jpeg)"></div>

        <!-- <div style="height:1000px;font-size:36px">
            Parallax means the "the observed displacement of an object 
            caused by the change of the observer's point of view"
        </div>
        <div class="parallax" style="background-image: url(flowers.jpg)"></div>
        <div style="height:1000px;font-size:36px">
            Parallax means the "the observed displacement of an object 
            caused by the change of the observer's point of view"
        </div> -->
    </div>
    <div class="footer"></div>


</body>

</html>