<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div>
        <ul class="navbar">
            <li><a href="./index">Home</a></li>
            <li><a href="./aboutMe">About Me</a></li>
            <li><a href="./pricing">Pricing</a></li>
            <li><a href="./myWork">My Work</a></li>
        </ul>
    </div>
    <div class="heading">    
        <!-- <div class="spinner"></div> <h1>Hello World! Website is working</h1><div class="spinner"></div> -->
        <h1>Now let's talk money</h1>
    </div>
    <hr>
    <div>
        <h2 class="section-title">Why not design your own website?</h2>
        <p>
            &emsp;Handcrafted websites can offer customability that is unmatched by other services that
            allow for you to create your own. My experience has given me a keen eye for the design
            of a website while leaving me with the technical skills required to fabricate its existence.
        </p>
        <hr>
        <h2 class="section-title">Why should I choose you?</h2>
        <p>
            &emsp;I am like to focus on my customer's needs and desires. I actively communicate with my
            customers in order to meet their demands in a timely fashion. What I am offering is a 
            personable experience that you won't be able to find from a corporation.
        </p>
        <hr>
        <h2 class="section-title">What I need</h2>
        <p>
            &emsp;Once you are sure you wish for me to create your website, you will need to send
            me a sketch or a in depth description of what you wish me to do. If you do not know
            what you want you can tell me the purpose or business that I am making the website
            for and I can draft a few very primitive ideas for you to check out.
        </p>
        <br><br><br><br><br><br>
    </div>
    <div class="footer"></div>
    
    
</body>
</html>